---

---

<section class="mb-8">
  <div class="mb-6">
    <h1
      class="overflow-hidden pb-2 pt-4 text-center text-4xl font-bold text-text-heading md:text-5xl"
    >
      <span
        class="bg-gradient-to-bl from-primary-blue to-primary-blue bg-[length:90%_40%]
            bg-bottom bg-no-repeat dark:from-primary-blue dark:to-primary-blue"
      >
        Clayton
      </span>
    </h1>
  </div>
  <div>
    <p class="mb-5">
      Hello! My name is <i>Clayton</i> and I am a software developer by trade and
      passion.
    </p>
    <p class="mb-5">I love simplifying the lives of others with</p>
    <ul>
      <li>User-Centric Design</li>
      <li>Robust DevOps Practices</li>
      <li>Strong CLEAN Coding Principles</li>
    </ul>
  </div>
</section>
